src/main/app/mule-greeting-connector-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:mule-greeting="http://www.mulesoft.org/schema/mule/mule-greeting" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mule-greeting http://www.mulesoft.org/schema/mule/mule-greeting/current/mule-mule-greeting.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <mule-greeting:config name="MuleGreeting__Configuration" greeting="G'day" reply="How are you doing?" doc:name="MuleGreeting: Configuration"/>
    <flow name="mule-greeting-connector-test-Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/greeting" doc:name="HTTP"/>
        <mule-greeting:greet config-ref="MuleGreeting__Configuration" friend="Leonid" doc:name="MuleGreeting"/>
        <logger message="#[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
